img {
    max-width: 100%;
    /*margin: auto;*/
    /*display: block;*/
}

#mg-wrapper {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

/*#mg-contents {
    position: relative;
    padding-bottom: 50%;
}*/

.mg-tile {
    width: 20%;
    padding: 5px;
    box-sizing: border-box;
    float: left;
    height: 200px;
    perspective: 500px;
    margin-bottom: 2px;   
}

.easy .mg-tile, .med .mg-tile {
    width: 20%;
}
.hard .mg-tile {
    width: 14.28%;
}


.mg-tile-inner {
    /*height and width must be counter set*/
    width: 100%;
    cursor: pointer;
    position: relative;
    transform-style: preserve-3d;
    /*so children can see the perspective */
    transition: transform 1s;
}

.mg-tile-outside,
.mg-tile-inside {
    position: absolute;
    /*sit on top of each other */
    top: 0;
    left: 0;
    box-shadow: 0 0 0 1px #787a80;
    backface-visibility: hidden;
}

.mg-tile-outside {
    /* apply a background element/url.
  change the background color so it's not obvious it's turned over
  set the width
  set the default because inside will be different*/
    background: url("../img/logo-bw.png") 50% 50% no-repeat;
    background-color: #dcdee1;
    width: 100%;
    height: 200px;
}

.mg-tile-inside {
    background-color: #f8fafc;
    width: 100%;
    transform: rotateY(180deg);
    /*image for this is built via javascript*/
}

.unmatched {}


/*applied via javascript*/

.flipped {
    transform: rotateY(-180deg);
}

#button-bucket,
h1 {
    text-align: center;
    margin: auto;
    padding: 2%;
}

.diff {
    font-size: 60px;
    border-radius: 20px;
}

.counter,
.diff {
    text-align: center;
    outline: 0;
}

#easy {
    background-color: green;
}

#medium {
    background-color: yellow;
}

#hard {
    background-color: red;
}



#matched-all {
    width: 30%;
    position: absolute;
    left: -1000px;
    top: 50%;
}

#matched-all.move {
    left: 710px;
    transition: all 4s ease;
    transform: rotate(3600deg);
}
